@charset "utf-8";
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #3c3c3c;
    font-family: arial,tahoma,verdana,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
a {
    color: #425B6E;
    font-size: 12px;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    color: #2f9df2;
}
* {
    margin: 0;
    padding: 0;
}

input, textarea, select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    box-shadow: 0 1px 2px #EEEEEE inset;
    color: #999999;
    display: inline-block;
    font-family: arial,tahoma,verdana,sans-serif;
    padding: 8px 10px;
}
input:hover, textarea:hover, select:hover {
    border: 1px solid #063CC6;
}
input:focus, textarea:focus {
    border: 1px solid #063CC6;
    box-shadow: 0 0 5px #CCCCCC;
}
textarea {
    font-size: 12px;
}
select {
    color: #333333;
    cursor: pointer;
    min-width: 120px;
    padding: 5px;
}
option {
    color: #333333;
    padding: 0 5px;
}
input[type="radio"] {
    margin-left: 10px;
    margin-right: 2px;
}
input[type="text"]:disabled {
    background: none repeat scroll 0 0 #EEEEEE;
}
input[type="text"]:disabled:hover {
    border: 1px solid #D2D2D2;
}
ul, li {
    list-style: none outside none;
}
h1, h2, h3, h4, h5 {
    font-family: arial,tahoma,verdana,sans-serif;
}
h1 {
    font-size: 16px;
    font-weight: bold;
}
h2 {
    font-size: 16px;
    font-weight: bold;
}
h3 {
    font-size: 14px;
    font-weight: bold;
}
h4 {
    font-size: 12px;
    font-weight: bold;
}
h5 {
    font-size: 12px;
    font-weight: bold;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.stuck{
    position: fixed!important;
}
.mt5 {
    margin-top: 5px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt27 {
    margin-top: 27px !important;
}
.mb5 {
    margin-bottom: 5px;
}
.fll {
    float: left;
}
.ovf {
    overflow: hidden !important;
}
.flr {
    float: right;
}
.clr {
    clear: both;
}
.effect {
    transition: all 0.5s ease 0s;
}
.content {
    padding: 5px;
}
.sprites {
    background-image: url("../images/sprites.png");
}
.icons16 {
    display: inline-block;
    height: 16px;
    margin-right: 5px;
    vertical-align: text-bottom;
    width: 16px;
}
.detail-box,.box{
    clear: both;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.detail-box .content,.box .content{
    margin-bottom: 10px;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    box-shadow: 0 2px 0 #EEEEEE;
    overflow: hidden;
    padding: 10px;
    position: relative;
    line-height: 1.8;
}
.detail-box .content .contents-comic p,.box .content .contents-comic p{
    padding: 10px;
    line-height: 1.8;
}
.crop {
    display: inline-block;
    height: 200px;
    overflow: hidden;
    width: 158px;
}
.crop .thumb {
    min-height: 200px;
    width: 158px;
}
.title {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title:after {
    background: url("../images/arrow-title.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 12px;
    margin-left: 20px;
    width: 7px;
    vertical-align: middle;
}
.title a {
    margin-right: 10px;
}
.detail-title{
    position: relative;
    line-height: 26px;
    padding: 8px 0;
}
.detail-title.stuck{
    top:0;
    background-color: #fff;
    width: 970px;
    z-index: 10;
    padding: 8px 4px;
    border: 1px solid #D2D2D2;
    border-top: none;
}
.detail-title.stuck .tool-right{
    right:4px;
}
.detail-box .title,.box .title{
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.detail-box .title:after,.box .title:after{
    display: none;
}
.box-chap {
    clear: both;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
.box-chap .content {
    background: none repeat scroll 0 0 #F9F9F9;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    overflow: hidden;
    padding: 0 0 10px;
    position: relative;
}
.desc {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
}
.margin-less {
    margin-top: -5px;
}
.e-view, .e-user {
    display: block;
}
.e-user {
    line-height: 16px;
}
.e-view:before, .e-user:before {
    background-image: url("../images/sprites.png");
    background-position: 0 -60px;
    content: "";
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 16px;
}
.e-user:before {
    background-position: 0 -80px;
    height: 16px;
    margin-bottom: -3px;
}
.pagination {
    display: block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.pagination ul.pg-ul {
    margin-left: 15px;
}
.pagination ul.pg-ul li {
    float: left;
    margin-right: 6px;
}
.pagination ul.pg-ul li a {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px;
    color: #333333;
    font-weight: bold;
    padding: 5px 10px;
}
.pagination ul.pg-ul li a.active {
    background: none repeat scroll 0 0 #2f9df2;
    color: #FFFFFF;
}
.effect {
    transition: all 0.5s ease 0s;
}
.box-more {
    color: #AAAAAA;
    font-size: 11px;
    text-transform: uppercase;
}
.box-more:before {
    background-image: url("../images/sprites.png");
    background-position: 0 -140px;
    content: "";
    display: inline-block;
    height: 6px;
    margin-bottom: 1px;
    margin-right: 8px;
    width: 22px;
}
.btn, .btn-blue, .btn-error {
    background: none repeat scroll 0 0 #2f9df2;
    border: medium none;
    border-radius: 3px;
    box-shadow: none;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 10px;
}
.btn-blue {
    background: none repeat scroll 0 0 #425B6E;
}
.btn-blue:hover {
    background: none repeat scroll 0 0 #344756;
    border: medium none;
}
.btn-error {
    background: none repeat scroll 0 0 #DD4B38;
}
.btn-error:hover {
    background: none repeat scroll 0 0 #B93320;
}
.btn-big {
    background: none repeat scroll 0 0 #2f9df2;
    border: medium none;
    border-radius: 5px;
    box-shadow: none;
    color: #FFFFFF !important;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 20px;
}
.btn:hover, .btn-big:hover {
    background: none repeat scroll 0 0 #11AE54;
    border: medium none;
}
.btn:focus, .btn-blue:focus, .btn-big:focus {
    border: medium none;
}
.wrapper {
    margin: 0 auto 30px;
    width: 980px;
}
#header {
    height: 75px;
    position: relative;
    width: 100%;
}
#header:after, #header:before {
    content: "";
    display: table;
}
#header:after {
    clear: both;
}
#header #logo {
    background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 52px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 190px;
}
#header #logo h1 {
    color: #444444;
    font-size: 12px;
    font-weight: normal;
    padding-left: 60px;
    padding-top: 28px;
}
#header #search:after {
    clear: both;
    content: "";
}
#header #search .search-wrap {
    position: relative;
}
#header #search {
    left: 210px;
    position: absolute;
    top: 15px;
}
#header #search input {
    background: url("../images/top_search.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 2px solid #425B6E;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    float: left;
    height: 26px;
    padding: 5px 10px;
}
#header #search:hover {
    box-shadow: none;
}
#header #search .top_search {
    background-repeat: repeat-x;
    font-size: 14px;
    transition: all 0.5s ease 0s;
    width: 378px;
}
#header #search .top_search:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px #CCCCCC;
}
#header #search .top_search_submit {
    background-position: 0 -40px;
    background-repeat: no-repeat;
    border-left: medium none;
    cursor: pointer;
    height: 40px;
    min-width: 60px;
    padding: 0;
    text-indent: -999em;
    transition: all 0.5s ease 0s;
    width: 60px;
}
#header #search .top_search_submit:hover {
    background-position: 0 -80px;
}
.search-wrap .suggest-wrap {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
    left: 2px;
    min-height: 100px;
    padding: 5px 10px;
    position: absolute;
    top: 40px;
    width: 378px;
    z-index: 10;
}
.search-wrap .suggest-wrap .suggest li > a {
    border-bottom: 1px solid #EEEEEE;
    display: block;
    font-size: 13px;
    padding: 5px 0;
}
#header .menu-btn, #header .search-btn {
    display: none;
}
.mb-panel {
    display: none;
}
#header #log_panel {
    position: absolute;
    right: 0;
    text-align: right;
    top: 15px;
    width: 200px;
}
#header #log_panel:after {
    clear: both;
    content: "";
}
#header #log_panel .top_login, #header #log_panel .top_register {
    float: right;
    padding: 10px;
}
#header #log_panel .top_login {
    border-right: 1px solid #CCCCCC;
}
#header #log_panel .nav_user {
    height: 40px;
    line-height: 40px;
}
#header #log_panel .nav_user a {
    cursor: pointer;
    padding-right: 30px;
}
#header #log_panel .nav_user a > span.arrow-down {
    background: url("../images/arrow-down.png") no-repeat scroll 4px 0 #2f9df2;
    border: 1px solid #2f9df2;
    border-radius: 3px;
    display: inline-block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 20px;
}
#header #log_panel .nav_user a > span.arrow-down-active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/arrow-down.png") no-repeat scroll 4px -20px #FFFFFF;
    border-color: #D2D2D2 #D2D2D2;
    outline-color: -moz-use-text-color;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    z-index: 14;
}
#header #log_panel .nav_user .nav_user_drop {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D2D2D2;
    border-radius: 3px 0 3px 3px;
    display: none;
    min-height: 100px;
    position: absolute;
    right: 0;
    top: 30px;
    transition: all 0.5s ease 0s;
    width: 200px;
    z-index: 12;
}
#header #log_panel .nav_user .nav_user_drop-active {
    display: inline-block !important;
}
#header #log_panel .nav_user .nav_user_drop a {
    border-bottom: 1px solid #EEEEEE;
    display: block;
    height: auto;
    line-height: 1em;
    padding: 10px;
}
#header #log_panel .nav_user .nav_user_drop .nav_logout a {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: medium none;
}
#navbar {
    background: none repeat scroll 0 0 #425B6E;
    display: inline-block;
    height: 38px;
    position: relative;
    width: 100%;
}
#navbar:after {
    clear: both;
}
#navbar ul.top_nav .top_nav_home {
    background-image: url("../images/sprites.png");
    background-position: 22px 13px !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 38px;
    padding: 0;
    width: 55px;
}
#navbar ul.top_nav li {
    float: left;
    position: relative;
}
#navbar ul.top_nav li.active {
    background: none repeat scroll 0 0 #2f9df2;
    color: #FFFFFF;
    height: 38px;
}
#navbar ul.top_nav > li > a {
    color: #EAEFF2;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}
#navbar ul.top_nav > li > a:hover {
    color: #FFFFFF;
}
#navbar ul.top_nav li:hover .menu-expand {
    display: inline-block !important;
}
#navbar ul.top_nav li:hover a {
    color: #FFFFFF;
}
#navbar ul.top_nav > li > .menu-expand {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: medium none !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 38px;
    width: 320px;
    z-index: 9;
}
#navbar ul.top_nav > li > .menu-expand ul.menu-expand-ul li {
    float: left;
}
#navbar ul.top_nav > li > .menu-expand ul.menu-expand-ul li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 0 none;
    border-top: 0 none;
    color: #425B6E;
    display: inline-block;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
    text-align: left;
    width: 150px;
}
#navbar ul.top_nav > li > .menu-expand ul.menu-expand-ul li a:hover {
    background: none repeat scroll 0 0 #2f9df2;
    color: #FFFFFF;
}
#navbar .nav_social {
    position: absolute;
    right: 10px;
    top: 5px;
}
#main:after, #main:before {
    content: "";
    display: table;
}
#main:after {
    clear: both;
}
#main {
    margin: 15px auto;
    width: 100%;
}
#left {
    float: left;
    width: 670px;
}
#right {
    float: right;
    width: 300px;
}
.welcome {
    margin-bottom: 20px;
    position: relative;
}
.welcome .content {
    box-shadow: none !important;
    font-size: 12px;
}
.welcome:after {
    border: 1px solid #D2D2D2;
    bottom: -3px;
    clear: both;
    content: "";
    height: 2px;
    left: 1%;
    position: absolute;
    width: 98%;
}
.welcome:before {
    border: 1px solid #D2D2D2;
    bottom: -6px;
    content: "";
    height: 2px;
    left: 2%;
    position: absolute;
    width: 96%;
}
.welcome h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
}
.welcome .welcome_right {
    float: right;
    height: 90px;
}
.welcome .welcome_left {
    background: url("../images/welcome.png") repeat-y scroll right center rgba(0, 0, 0, 0);
    overflow: hidden;
    padding: 5px 15px 0 10px;
}
.welcome .welcome_right {
    padding-left: 10px;
    text-align: center;
    width: 160px;
}
.welcome .upload_tut {
    background-position: -60px 0;
    display: inline-block;
    height: 51px;
    margin-bottom: 10px;
    width: 94px;
}
.welcome .upload_tut:hover {
    background-position: -60px -60px;
}
.l-grid {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}
.l-grid:after {
    clear: both;
    content: "";
}
.l-grid .e-wrapper {
    display: inline-block;
    margin-left: -10px;
    overflow: hidden;
    width: auto;
}
.l-grid .element {
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    box-shadow: 0 2px 0 #EEEEEE;
    float: left;
    height: 250px;
    margin-bottom: 20px;
    margin-left: 10px;
    position: relative;
    transition: all 0.5s ease 0s;
    width: 158px;
}
.l-grid .element:hover {
    border-bottom: 1px solid #2f9df2;
    box-shadow: 0 2px 0 #2f9df2;
}
.l-grid .element:hover .content h1 {
    color: #2f9df2;
}
.l-grid .element .content {
    text-align: center;
}
.l-grid .element .content .e-title {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    margin-bottom: 5px;
    overflow: hidden;
}
.l-category ul.content {
    padding: 5px 15px 10px;
}
.l-category ul.content li {
    border-bottom: 1px solid #EEEEEE;
    clear: both;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}
.l-category ul.content li .c-title {
    float: left;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    padding: 1px 5px;
    margin-right: 10px;
}
.l-category ul.content li .cate-li-right {
    float: right;
    min-width: 80px;
    padding: 1px 5px;
    text-align: right;
}
.l-category ul.content li .tag {
    float: left;
    color: #fff;
    font-size: 12px;
    padding: 1px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-right: 10px;
}
.tag-novel-type{
    background: #2B74D4;
    text-shadow: 0 0 2px #2B74D4;
}
.tag-novel-status{
    background: #ac5c00;
    text-shadow: 0 0 2px #ac5c00;
}
.menu-child {
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%;
}
.menu-child ul.menu-child-ul {
    margin-left: -10px;
    overflow: hidden;
    width: auto;
}
.menu-child ul.menu-child-ul li {
    float: left;
    margin-bottom: 7px;
    margin-left: 10px;
    position: relative;
}
.menu-child ul.menu-child-ul li .noti-new, .menu-child ul.menu-child-ul li .noti-hot {
    background: none repeat scroll 0 0 #8A8A8A;
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 9px;
    padding: 2px 3px;
    position: absolute;
    right: 7px;
    text-transform: uppercase;
    top: 7px;
}
.menu-child ul.menu-child-ul li .noti-hot {
    background: none repeat scroll 0 0 #2f9df2;
}
.menu-child ul.menu-child-ul li a {
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    box-shadow: 0 2px 0 #EEEEEE;
    color: #333333;
    display: inline-block;
    padding: 7px;
    transition: all 0.5s ease 0s;
    width: 129px;
}
.menu-child ul.menu-child-ul li a:hover {
    border-bottom: 1px solid #2f9df2;
    box-shadow: 0 2px 0 #2f9df2;
    color: #2f9df2;
}
.l-right {
    margin-bottom: 20px;
}
.l-right ul.content {
    padding: 0 10px;
}
.l-right ul.content .r-title {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
}
.l-right ul.content span.e-user {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px;
}
.l-right ul.content li {
    border-bottom: 1px solid #EEEEEE;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}
.l-right ul.content a.crop {
    display: inline-block;
    height: 60px;
    margin-right: 10px;
    width: 50px;
}
.thumb-s {
    min-height: 60px;
    width: 50px;
}
.l-right ul.content .l-right-info {
    overflow: hidden;
}
.l-right ul.content .l-right-end {
    border: medium none;
}
.right_tabs {
    margin-top: -34px;
    position: relative;
}
.right_tabs ul.idTabs {
    float: right;
    height: 32px;
    margin-bottom: -1px;
    text-align: right;
    width: 134px;
}
.right_tabs ul.idTabs li {
    float: left;
    margin-right: 5px;
}
.right_tabs ul.idTabs li a {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #D2D2D2;
    border-radius: 3px 3px 0 0;
    color: #333333;
    display: inline-block;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 60px;
    z-index: 9;
}
.right_tabs ul.idTabs li a.selected {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.facebook .content {
    padding: 0;
}
.fb-crop {
    display: inline-block;
    height: 211px;
    overflow: hidden;
    width: 280px;
}
.detail .detail-thumb {
    float: left;
    margin-right: 10px;
}
.detail .detail-thumb img {
    width: 120px;
}
.detail .detail-story {
    overflow: hidden;
}
.detail .detail-story h1 {
    color: #425B6E;
    font-size: 18px;
    margin-bottom: 10px;
}
.detail .detail-story .d-s-col {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 50%;
}
.detail .detail-story .d-s-col p {
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 2px solid #DDDDDD;
    margin: 4px 0;
    padding: 3px 5px;
}
.detail .detail-story .d-s-col p:hover {
    background: none repeat scroll 0 0 #F6F6F6;
}
.detail .detail-story .d-s-col p a {
    font-weight: bold;
}
.detail .detail-story .d-s-col-noright {
    display: list-item;
    float: none;
    margin-right: 0 !important;
    overflow: hidden;
    width: auto;
}
.detail .bar-social {
    border-top: 1px solid #EEEEEE;
    clear: both;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 0 0;
}
.detail .desc-story {
    font-size: 13px;
    margin-bottom: 10px;
}
.last-chap .content .title {
    background: none repeat scroll 0 0 #425B6E;
    color: #FFFFFF;
    font-weight: normal;
    padding: 5px 10px;
    text-transform: none;
}
.last-chap .content .title span {
    font-weight: bold;
}
.last-chap .content p a {
    font-size: 13px;
    font-weight: normal;
    padding: 0 10px 10px;
}
.last-chap .content p:nth-child(2) a {
    color: #2f9df2;
    font-size: 18px;
}
.last-chap .content p.last a {
    color: #2f9df2;
    font-size: 18px;
}
.input-site {
    margin-bottom: 10px;
    width: 626px;
}
.search-chap .list-chap-wrap {
    /*height: 550px;*/
    overflow: auto;
    width: 100%;
}
.search-chap .list-chap-wrap .list-chap ul{
    overflow: hidden;
}
th.tb{border-left:1px solid #CAE0BA;}th.tb a{margin-left:20px;}td.ta{width:50px;border-top:1px solid #CAE0BA;background:#F1F1F1;font-size:14px;text-indent:20px;}td.tb{padding:10px 0 10px 20px;border-top:1px solid #CAE0BA;border-left:1px solid #CAE0BA;}td.tb p{float:left;width:195px;height:28px;line-height:28px;font-size:14px;overflow:hidden;}
.bookindex td.tb p{width:190px;}.authorindex td.tb p{width:70px;}td.tb a{color:#333;}td.tb strong a{color:#000;}td.tb span a{margin-left:5px;font-size:12px;color:#999;}
.search-chap .list-chap-wrap .list-chap li{
    float: left;
    width: 33%;
}
.search-chap .list-chap-wrap .list-chap p {
    border-bottom: 1px dotted #EEEEEE;
    font-size: 13px;
    font-weight: normal;
    padding: 5px 0;
}
.search-chap .list-chap-wrap .list-chap p:hover {
    background: none repeat scroll 0 0 #F9F9F9;
}
.comment {
    border-bottom: 1px dotted #EEEEEE;
    overflow: hidden;
    padding: 10px 0;
    width: 100%;
}
.comment:hover {
    background: none repeat scroll 0 0 #F9F9F9;
}
.avatar img {
    float: left;
    height: 48px;
    margin-right: 10px;
    width: 48px;
}
.comment .cm-subject {
    overflow: hidden;
}
.comment .cm-subject h3 {
    color: #425B6E;
    font-size: 12px;
}
.comment .cm-subject p {
    margin-top: 3px;
}
.comment .cms-text {
    display: block;
    width: 100%;
}
.comment .textarea-comment {
    height: 28px;
    margin-bottom: 10px;
    max-width: 568px;
    min-width: 568px;
}
.comment .btn-blue {
    border: medium none;
    float: right;
    margin-top: 0;
}
.comment .counter {
    float: left;
}
.time {
    color: #AAAAAA;
    font-size: 11px;
}
.view-page {
    position: relative;
}
.view-page .comment .textarea-comment {
    max-width: 878px;
    min-width: 878px;
}
.view-page .detail-box .content .content-comic {
    font-family: verdana;
    font-weight: normal;
    line-height: 2em;
    padding: 10px;
}
.view-page .detail-box .content .chapter-number {
    font-size: 22px;
    /*padding: 20px 10px 5px;*/
    text-align: center;
}
.view-page .tool-right {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 200px;
    line-height: 16px;
}
.view-page .tool-right a {
    margin-left: 5px;
}
.chap-select-dropdown .btn-blue {
    margin-left: 5px;
    margin-top: 0;
    padding: 9px 10px 7px;
}
.chap-select {
    clear: both;
    display: block;
    overflow: hidden;
}
.color-display {
    border: 1px solid #D2D2D2;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 0 5px #CCCCCC;
    left: 50%;
    margin-left: -225px;
    position: absolute;
    text-align: center;
    top: -59px;
    transition: all 0.5s ease 0s;
    width: 450px;
}
.color-display-toggle-div {
    padding-top: 37px;
    display: block;
}

.color-display-active {
    top: -1px;
}
.color-display .cd-content {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px;
    position: relative;
}
.color-display a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #D2D2D2;
    border-image: none;
    border-left: 1px solid #D2D2D2;
    border-radius: 0 0 3px 3px;
    border-right: 1px solid #D2D2D2;
    border-top: 0 none !important;
    bottom: -27px;
    height: 26px;
    left: 50%;
    line-height: 27px;
    margin-left: -60px;
    position: absolute;
    text-align: center;
    width: 120px;
}
.color-display a:before {
    background: url("../images/color.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 20px;
}
.register-page .content {
    padding: 15px 20px 20px;
}
.register-page .input-site {
    margin-bottom: 0;
    width: 606px;
}
.register-page label {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 5px;
    margin-right: 10px;
    vertical-align: middle;
}
.register-page p {
    display: block;
    margin-bottom: 10px;
}
.register-page p img {
    vertical-align: middle;
}
.input-time {
    margin-right: 10px;
    width: 110px;
}
.register-page .btn-big {
    font-size: 13px;
}
.login-page .input-site {
    width: 236px;
}
.login-page .btn-big {
    margin-top: 0 !important;
}
.pro5-menu p > a {
    border-left: 3px solid #EEEEEE;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px 0 5px 10px;
    transition: all 0.5s ease 0s;
}
.pro5-menu p > a:hover {
    background: none repeat scroll 0 0 #F9F9F9;
    border-left: 3px solid #2f9df2;
    margin-left: 10px;
}
.pro5-menu p > a.active {
    border-left: 3px solid #2f9df2;
    color: #2f9df2;
    cursor: default;
    margin-left: 0 !important;
}
.btn-del {
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    padding: 5px 8px;
}
.pro5 li .cate-li-right .btn-del {
    margin-bottom: -5px;
    margin-top: -5px;
}
.pro5 li .cate-li-right {
    min-width: 50px !important;
    padding-left: 0 !important;
}
.pro5 li .pro5-li-right {
    float: right;
    margin-left: 10px;
    text-align: right;
}
.pro5 li .pro5-li-right a {
    color: #2f9df2;
    font-weight: bold;
}
.news-box {
    float: left;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 330px;
}
.news-box .title {
    text-transform: none;
}
.news-box .content {
    padding: 0;
}
.news-box .content .nb-f {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}
.news-box .content .nb-f h3 {
    font-size: 14px;
    margin-bottom: 5px;
}
.nb-thumb {
    float: left;
    height: 100px;
    margin-right: 10px;
    width: 100px;
}
.news-box .content .nb-f .nb-desc {
    overflow: hidden;
    padding-right: 10px;
}
.news-box .content .nb-c p {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}
.news-box .content .nb-c p:before {
    content: "â€¢";
    padding-right: 10px;
}
.related .l-right-info {
    height: 50px;
}
.related ul.content a.crop {
    height: 50px;
}
.related .l-right-info span {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
}
.no-arrow:after {
    content: "";
    display: none !important;
}
.no-arrow {
    text-transform: none !important;
}
.view-news-detail {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin: -10px -10px 10px;
    padding: 5px;
    text-align: right;
}
.list-news-h3 {
    font-size: 14px !important;
    margin-bottom: 5px;
}
#footer {
    background: none repeat scroll 0 0 #F1F1F1;
    position: relative;
    width: 100%;
    text-align: center;
}
#footer a {
    color: #444444;
    font-weight: bold;
}
#footer .wrapper {
    font-size: 12px;
    padding: 20px 0 10px;
}
.pro5-mobile {
    display: none;
}
.mb-nav {
    display: none;
}
@media only screen and (min-width: 710px) and (max-width: 979px) {
    .wrapper {
        padding: 0 5px;
        width: 710px;
    }
    #left {
        width: 500px;
    }
    #right {
        width: 198px;
    }
    .menu-child ul.menu-child-ul li a {
        width: 182px;
    }
    #header #search .top_search {
        width: 208px;
    }
    .l-grid {
        height: 538px;
    }
    .may-like {
        height: 270px;
    }
    .menu-child ul.menu-child-ul li .noti-new, .menu-child ul.menu-child-ul li .noti-hot {
        display: none;
    }
    #navbar ul.top_nav > li > a {
        font-size: 12px;
        padding: 0 10px;
    }
    .right_tabs {
        margin-top: 0;
    }
    .right_tabs ul.idTabs {
        width: auto;
    }
    .right_tabs ul.idTabs li a {
        width: 90px;
    }
    .title:after {
        margin-left: 10px;
    }
    .fb-crop {
        overflow: hidden;
        width: 220px;
    }
    .comment .textarea-comment {
        max-width: 398px;
        min-width: 398px;
    }
    .view-page .comment .textarea-comment {
        max-width: 608px;
        min-width: 608px;
    }
    .input-site {
        width: 456px;
    }
    .register-page .input-site {
        width: 336px;
    }
    .login-page .input-site {
        width: 236px !important;
    }
    .st-login #left, .st-register #left {
        width: 400px;
    }
    .st-login #right, .st-register #right {
        width: 298px;
    }
    .input-time {
        min-width: 82px;
        width: 82px;
    }
    .news-box {
        width: 245px;
    }
}
@media only screen and (max-width: 709px) {
    .wrapper {
        overflow: hidden;
        padding: 0 5px;
        position: relative;
    }
    #navbar, #search {
        display: none;
    }
    .welcome .welcome_left {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        padding: 0;
    }
    .welcome .welcome_left p {
        font-size: 12px;
    }
    .welcome .welcome_right {
        display: none;
    }
    .welcome:before, .welcome:after {
        display: none;
    }
    #left {
        width: 100%;
    }
    #right {
        width: 100%;
    }
    .detail .detail-story .d-s-col {
        width: 100%;
    }
    .detail .detail-story .d-s-col p {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-left: medium none;
        padding: 0;
    }
    .detail .detail-story .d-s-col-noright {
        display: inline-block;
        margin-top: -2px;
    }
    .detail .detail-story h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .detail .detail-story .d-s-col p {
        margin: 2px 0;
    }
    .detail .bar-social {
        display: none;
    }
    .last-chap .content p.last a {
        font-size: 13px;
    }
    .crop .thumb {
        min-width: 100%;
        width: 100%;
    }
    .title {
        font-size: 13px;
    }
    .menu-child {
        display: none;
    }
    #footer {
        padding-bottom: 10px;
    }
    #footer .wrapper {
        font-size: 12px;
        padding: 10px 0 0;
    }
    .search-chap .list-chap-wrap .list-chap li{
        float: none;
        width: 100%;
    }
    .view-page .detail-box .content .content-comic {
        padding: 0;
    }
    .view-page .detail-box .content .chapter-number {
        padding: 20px 0 5px;
    }
    .chap-select .fll {
        display: none;
    }
    .register-page .content {
        padding: 10px;
    }
    .st-login #left {
        display: none !important;
    }
    .st-register #right {
        display: none !important;
    }
    .pro5 #right {
        display: none;
    }
    .pro5 .pro5-mobile {
        display: block;
        margin-bottom: 10px;
        margin-left: -5px;
    }
    .pro5 #left h2.title {
        display: none;
    }
    .pro5 .pro5-mobile .pro5-menu p > a, .pro5 .pro5-mobile .pro5-menu p > a:hover {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-left: 0 solid #2f9df2;
        margin-left: 0;
        padding-left: 0;
    }
    #header #log_panel {
        display: none;
    }
    .mb-panel {
        background: none repeat scroll 0 0 #FFFFFF;
        display: none;
        position: relative;
        width: 100%;
        z-index: 11;
    }
    .mb-panel-active {
        display: block;
    }
    .mb-panel-wrap {
        background: none repeat scroll 0 0 #EFEFEF;
        margin-left: -5px;
        margin-right: -5px;
        padding: 4px 20px;
        text-align: center;
    }
    .mb-panel-wrap a {
        height: 26px;
        line-height: 26px;
        margin: 5px 3px;
        width: 80px;
    }
    .mb-panel-wrap span {
        display: block;
        height: 34px;
        line-height: 34px;
    }
    .mb-panel a {
        height: 34px;
        line-height: 34px;
        text-align: center;
    }
    .mb-panel p {
        border-bottom: 1px solid #DDDDDD;
        text-align: center;
    }
    .mb-panel p.nav_logout {
        border-bottom: 0 none;
    }
    .mb-panel p.nav_logout a {
        display: inline-block;
        width: 80px;
    }
    .mb-panel p a {
        display: block;
        text-align: center;
        width: 100%;
    }
    .mb-nav {
        background: none repeat scroll 0 0 #FFFFFF;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
        display: block;
        left: 0;
        margin-left: -5px;
        margin-right: -5px;
        padding: 0 0 10px;
        position: absolute;
        top: -460px;
        transition: all 0.5s ease 0s;
        z-index: 8;
    }
    .mb-nav-active {
        top: 46px;
    }
    .mb-nav .mb-nav-wrap a.mb-nav-a {
        border-bottom: 1px solid #EEEEEE;
        color: #333333;
        display: block;
        font-size: 14px;
        font-weight: bold;
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
    }
    .mb-nav .mb-nav-wrap a.mb-nav-a:before {
        content: "›";
        padding-right: 10px;
    }
    .mb-nav .mb-nav-wrap .mb-nav-panel {
        background: none repeat scroll 0 0 #EFEFEF;
        padding: 10px 0;
        text-align: center;
    }
    .mb-nav .mb-nav-wrap .mb-nav-panel a {
        height: 26px;
        line-height: 26px;
        margin: 0 5px;
        padding: 0;
        text-align: center;
        width: 80px;
    }
    .mb-nav-sub {
        background: none repeat scroll 0 0 #EEEEEE;
        padding: 5px 5px 1px;
    }
    .mb-nav-sub a {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: none repeat scroll 0 0 #FFFFFF;
        border-color: #D0D0D0;
        border-image: none;
        border-style: solid;
        border-width: 1px 1px 1px 3px;
        display: inline-block;
        margin-bottom: 5px;
        margin-right: 2px;
        padding: 4px 8px;
    }
    .mb-nav-search {
        background: none repeat scroll 0 0 #EFEFEF;
        padding: 10px 20px;
    }
    .mb-nav-search .top_search {
        border-radius: 20px;
        margin-left: -10px;
        width: 100%;
    }
    #header #logo {
        background: url("../images/logo-s.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: inline-block;
        height: 36px;
        left: 50%;
        margin-left: -72px;
        top: 6px;
        width: 144px;
    }
    #header #logo span {
        color: #FFFFFF;
        display: none;
        font-style: italic;
        padding-left: 0;
        padding-top: 19px;
        text-align: center;
    }
    #header .menu-btn {
        background: url("../images/sprites.png") repeat scroll 0 -180px rgba(0, 0, 0, 0);
        cursor: pointer;
        display: inline-block;
        height: 32px;
        left: 5px;
        position: absolute;
        top: 6px;
        width: 32px;
    }
    #header .menu-btn-active {
        background-color: #0B9F49;
        border-radius: 3px;
    }
    #header .panel-btn {
        background: url("../images/sprites.png") repeat scroll 0 -220px rgba(0, 0, 0, 0);
        cursor: pointer;
        display: inline-block;
        height: 32px;
        position: absolute;
        right: 5px;
        top: 6px;
        width: 32px;
    }
    #header .panel-btn-active {
        background-color: #0B9F49;
        border-radius: 3px;
    }
    #header {
        background: none repeat scroll 0 0 #2f9df2;
        height: 46px;
        margin-left: -5px;
        margin-right: -5px;
        width: 480px;
        z-index: 9;
    }
    .title {
        font-size: 12px;
        text-transform: none;
    }
    .title:after {
        margin-left: 7px;
    }
    .last-chap .content .title {
        font-size: 12px;
    }
    .box-chap .content {
        margin-top: 15px;
    }
    .view-page .tool-right {
        margin-bottom: 10px;
        position: relative;
        right: auto;
        text-align: center;
        top: auto;
        width: 100%;
        display: none;
    }
    .view-page .tool-right a {
        margin-top: 0;
    }
    .l-category ul.content li .cate-li-right {
        min-width: 58px;
        padding-left: 10px;
    }
    .mb-nav-search {
        position: relative;
    }
    .mb-nav-search .top_search {
        border-radius: 20px 0 0 20px;
        float: left;
        height: 16px;
        margin-left: -11px;
        width: 75%;
    }
    .mb-nav-search .top_search_submit {
        background: none repeat scroll 0 0 #F6F6F6;
        border-left: medium none;
        border-radius: 0 20px 20px 0;
        box-shadow: none;
        cursor: pointer;
        float: right;
        height: 34px;
        margin-right: -11px;
        width: 25%;
    }
}
@media only screen and (min-width: 630px) and (max-width: 709px) {
    .wrapper {
        width: 630px;
    }
    .view-page .comment .textarea-comment {
        max-width: 528px;
        min-width: 528px;
    }
    .login-page .input-site {
        width: 426px;
    }
    .register-page .input-site {
        width: 426px;
    }
    .input-time {
        width: 110px;
    }
    select {
        min-width: 110px;
    }
    .l-grid .e-wrapper {
        margin-left: -10px;
        width: 640px;
    }
    .l-grid .element {
        height: auto;
        margin: 0 0 10px 10px;
        overflow: hidden;
        width: 201px;
    }
    .crop {
        height: 200px;
        width: 100%;
    }
    .fb-crop {
        width: 431px;
    }
    .input-site {
        width: 588px;
    }
    .crop {
        height: 240px;
    }
    .crop .thumb {
        min-height: 240px;
        width: 100%;
    }
    .comment .textarea-comment {
        max-width: 528px;
        min-width: 528px;
    }
    #header {
        width: 640px;
    }
    .may-like {
        height: 256px !important;
        overflow: hidden;
    }
    .l-grid {
        height: 512px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .register-page .input-site {
        width: 586px;
    }
    .news-box {
        width: 310px;
    }
}
@media only screen and (min-width: 470px) and (max-width: 629px) {
    .wrapper {
        width: 470px;
    }
    .l-grid .e-wrapper {
        margin-left: -10px;
        width: 104%;
    }
    .l-grid .element {
        height: auto;
        margin: 0 0 10px 10px;
        overflow: hidden;
        width: 228px;
    }
    .crop {
        height: 200px;
        width: 100%;
    }
    .fb-crop {
        width: 431px;
    }
    .input-site {
        width: 428px;
    }
    .comment .textarea-comment {
        max-width: 368px;
        min-width: 368px;
    }
    .color-display {
        top: -63px;
        width: 440px;
    }
    .color-display-active {
        top: -1px;
    }
    .color-display .cd-content {
        padding: 5px;
    }
    .view-page .comment .textarea-comment {
        max-width: 368px;
        min-width: 368px;
    }
    .login-page .input-site {
        width: 426px;
    }
    .register-page .input-site {
        width: 426px;
    }
    .input-time {
        width: 90px;
    }
    select {
        min-width: 90px;
    }
    #header {
        width: 480px;
    }
    .crop {
        height: 240px;
    }
    .crop .thumb {
        min-height: 240px;
        width: 100%;
    }
    .l-category ul.content li .c-title {
        width: 100%;
        margin-bottom: 5px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 469px) {
    .adbox {
        width: 100%;
    }
    .wrapper {
        width: 310px;
    }
    .l-grid .element {
        height: auto;
        width: 148px;
    }
    .crop {
        height: 150px;
        width: 100%;
    }
    .fb-crop {
        width: 301px;
    }
    .l-category ul.content {
        padding: 5px 10px;
    }
    .l-category ul.content li {
        padding: 10px 0;
    }
    .category-home ul.content li .cate-li-right {
        display: none;
    }
    .input-site {
        width: 268px;
    }
    .comment .textarea-comment {
        max-width: 208px;
        min-width: 208px;
    }
    .view-page .comment .textarea-comment {
        max-width: 208px;
        min-width: 208px;
    }
    .register-page .input-site {
        width: 266px;
    }
    .input-time {
        margin-right: 0;
        width: 66px;
    }
    select {
        min-width: 60px;
    }
    #header {
        width: 320px;
    }
    .search-chap .list-chap-wrap {
        width: 100%;
        height: auto;
    }
    .crop {
        height: 180px;
    }
    .crop .thumb {
        min-height: 180px;
        width: 100%;
    }
    .l-category ul.content li .c-title {
        width: 100%;
        margin-bottom: 5px;
    }
}
.suggest-wrap {
    z-index:999999999;
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
}
.suggest-wrap a {
    border-bottom: 1px solid #DFDFDF;
    display: block;
    padding: 5px 10px;
}
.suggest-wrap li .suggest-wrap {
    border: medium none;
}
@media (min-width: 479px) {
    .adsfooter {
        display:none;
    }
}
@media (max-width: 479px) {
    .adsmobiletop {
        display:none;
    }
}
/* 阅读历史相关 */
#history{
    display: none;
    margin-bottom: 10px;
}
.history-ul {
    overflow: hidden;
    width: auto;
}
.history-ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 7px;
}
.history-ul li a{
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 2px 0 #eee;
    color: #333;
    display: inline-block;
    padding: 7px;
    transition: all .5s ease 0s;
}
.history-ul li a:hover{
    border-bottom: 1px solid #2f9df2;
    box-shadow: 0 2px 0 #2f9df2;
    color: #2f9df2;
}